<html>
  <head>
    <%- include('../partials/styles'); -%>
    <%- include('../partials/javascripts'); -%>
    <title><%= title; %></title>
    <script language="javascript">
      window.WELCOME_MESSAGE = "<%= welcome_message %>";
    </script>
  </head>
  <body>
    <div id="AppRoot"></div>
    <%- include('../partials/reactapp'); -%>
  </body>
</html>
